@use "../base/mixins";
@use "../settings/variables";

.footer {
  background: variables.$c-off-white;
  padding: 1.5em 0;

  &__inner {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;

    @include mixins.mq-up(large) {
      align-items: center;
      flex-flow: row nowrap;
      gap: 0;
      text-align: left;
    }
  }

  &__sentence {
    display: block;
    margin: 0.2rem 0;

    a {
      text-decoration: underline;
    }

    @include mixins.mq-up(large) {
      display: inline;

      .footer__copyright & {
        margin: 0 0.5rem 0 0;
      }

      .footer__tagline & {
        margin: 0 0 0 0.5rem;
      }
    }
  }

  &__copyright,
  &__links,
  &__tagline {
    @include mixins.mq-up(large) {
      flex: 1 0 33.33%;
    }
  }

  &__links {
    margin: 0 0 1rem 0;
    order: -1;

    @include mixins.mq-up(large) {
      margin: 0;
      order: 0;
      text-align: center;
    }

    a {
      font-size: 1.8rem;
      margin: 0 0.65rem;

      .fa-brands {
        transition: all variables.$s-30;
      }

      &:focus-visible,
      &:hover {
        .fa-brands {
          transform: scale(1.2);
        }
      }
    }
  }

  &__tagline {
    @include mixins.mq-up(large) {
      text-align: right;
    }

    .fa-solid {
      color: variables.$c-red;
    }
  }
}
