@use '../base/mixins';
@use '../settings/variables';

.footer {
  background: variables.$c-off-white;
  padding-block: 1.5em;
  padding-inline: 0;

  &__inner {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;

    @include mixins.mq-up(large) {
      align-items: center;
      flex-flow: row nowrap;
      gap: 0;
      text-align: left;
    }
  }

  &__sentence {
    display: block;
    margin-block: 0.2rem;
    margin-inline: 0;

    a {
      text-decoration: underline;
    }

    @include mixins.mq-up(large) {
      display: inline;

      .footer__copyright & {
        margin-block: 0;
        margin-inline-end: 0.5rem;
      }

      .footer__tagline & {
        margin-block: 0;
        margin-inline-start: 0.5rem;
      }
    }
  }

  &__copyright,
  &__links,
  &__tagline {
    @include mixins.mq-up(large) {
      flex: 1 0 33.33%;
    }
  }

  &__links {
    margin-block: 0 1rem;
    margin-inline: 0;
    order: -1;

    @include mixins.mq-up(large) {
      margin-block: 0;
      margin-inline: 0;
      order: 0;
      text-align: center;
    }

    a {
      font-size: 1.8rem;
      margin-block: 0;
      margin-inline: 0.65rem;

      .fa-brands {
        transition: transform variables.$s-base;
      }

      &:focus-visible,
      &:hover {
        .fa-brands {
          transform: scale(1.2);
        }
      }
    }
  }

  &__tagline {
    @include mixins.mq-up(large) {
      text-align: right;
    }

    .fa-solid {
      color: variables.$c-red;
    }
  }
}
