.header {
  background: $c-blue-75;
  color: $c-white;
  left: 0;
  padding: 1.5em 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s;
  z-index: 10;

  .body-scroll-down & {
    transform: translateY(-100%);
  }

  a {
    color: $c-white;
  }

  &__inner {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-height: 1.875rem;
    position: relative;

    @include mq-up(large) {
      min-height: 2.25rem;
    }
  }

  &__logo {
    font-family: $ff-heading;
    font-size: 1.5rem;
    font-weight: $fw-bold;

    @include mq-up(large) {
      font-size: 2rem;
    }
  }

  &__menu-toggle {
    background: none;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    gap: 6px;
    height: 30px;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 40px;

    .bar {
      background: $c-white;
      display: block;
      height: 3px;
      opacity: 1;
      transform: translate(0) rotate(0);
      transition: all 0.3s;
      width: 100%;

      .show-nav & {
        &--top {
          transform: translateY(9px) rotate(45deg);
        }

        &--mid {
          opacity: 0;
        }

        &--bot {
          transform: translateY(-9px) rotate(-45deg);
        }
      }
    }

    @include mq-up(large) {
      display: none;
    }
  }

  &__nav {
    background: $c-blue-75;
    left: 0;
    margin: 0 -2rem;
    max-height: 0;
    overflow: hidden;
    padding: 0 2rem;
    position: absolute;
    right: 0;
    top: calc(100% + 1.5rem);
    transition: all 0.3s;

    .show-nav & {
      max-height: 15rem;
    }

    .body-scroll-down & {
      transform: translateY(-100%);
    }

    @include mq-up(large) {
      background: none;
      margin: 0;
      max-height: none;
      overflow: visible;
      padding: 0;
      position: static;
    }

    ul {
      display: flex;
      flex-flow: column nowrap;

      @include mq-up(large) {
        flex-flow: row wrap;
        gap: 0 2.5rem;
      }

      li {
        a {
          display: block;
          font-size: 1.2rem;
          padding: 1rem 0;

          @include mq-up(large) {
            border-bottom: 2px solid transparent;
            padding: 0.5rem 0;
            transition: all 0.3s;

            &:focus,
            &:hover {
              border-color: $c-white;
            }
          }
        }
      }
    }
  }
}
