@use '../base/mixins';
@use '../settings/variables';

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-block-start: 3rem;
}

.experience-card {
  background: variables.$c-white;
  border-radius: 0.5rem;
  padding-block: variables.$space-xl;
  padding-inline: variables.$space-xl;

  @include mixins.mq-down(medium) {
    padding-block: variables.$space-lg;
    padding-inline: variables.$space-lg;
  }

  &__header {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-block-end: 0.5rem;

    @include mixins.mq-down(medium) {
      flex-direction: column;
    }
  }

  &__title {
    margin-block: 0 1.5rem;
    margin-inline: 0;
  }

  &__date {
    color: variables.$c-muted-2;
    font-size: variables.$fs-sm;
    font-weight: variables.$fw-medium;
    line-height: variables.$lh-normal;
    white-space: nowrap;
  }

  &__company {
    color: variables.$c-orange;
    font-size: variables.$fs-lg;
    font-weight: variables.$fw-bold;
    line-height: variables.$lh-normal;
    margin-block: 0 variables.$space-base;
    margin-inline: 0;
  }

  &__highlights {
    margin-block: 0;
    margin-inline-start: 1.2rem;
    padding-block: 0;
    padding-inline: 0;

    @include mixins.mq-up(medium) {
      columns: 2;
      gap: 2rem;
    }

    li {
      color: variables.$c-muted;
      font-size: variables.$fs-base;
      line-height: variables.$lh-relaxed;
      margin-block: 0 0.6rem;
      margin-inline: 0;

      @include mixins.mq-up(medium) {
        padding-inline-end: 6rem;
      }
    }
  }
}
