@use '../base/mixins';
@use '../settings/variables';

.project-card-list {
  @include mixins.mq-up(medium) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-block: 0;
    margin-inline: -1rem;
  }

  &__item {
    aspect-ratio: 1 / 1;
    inline-size: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform variables.$s-slow;

    @include mixins.mq-up(medium) {
      aspect-ratio: 1 / 1.2;
    }

    @include mixins.mq-up(large) {
      aspect-ratio: 1 / 1;
    }

    .project-card-list__item-container:focus-visible &,
    .project-card-list__item-container:hover & {
      transform: rotateY(180deg);
    }

    &-container {
      cursor: default;
      display: block;
      perspective: 80rem;
      margin-block: 0 2rem;
      margin-inline: 0;

      &:last-child {
        margin-block-end: 0;
      }

      @include mixins.mq-up(medium) {
        flex: 0 0 50%;
        padding-inline: 1rem;
      }

      @include mixins.mq-up(x-large) {
        flex: 0 0 33.33%;
      }
    }

    &__front,
    &__back {
      align-items: center;
      backface-visibility: hidden;
      border-radius: 0.5rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      padding-block: 2rem;
      padding-inline: 2rem;
      text-align: center;
      inline-size: 100%;
      block-size: 100%;
    }

    &__front {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      color: variables.$c-white;
      z-index: variables.$z-1;

      &::before {
        background: variables.$c-black-50;
        border-radius: 0.5rem;
        content: '';
        display: block;
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        inline-size: 100%;
        block-size: 100%;
        z-index: variables.$z-0;
      }

      img {
        border-radius: 0.5rem;
        block-size: 100%;
        inline-size: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        z-index: variables.$z-neg-1;
      }

      h3 {
        font-size: 1.8rem;
        line-height: 2rem;
        margin-block: 0;
        margin-inline: 0;
        position: relative;

        @include mixins.mq-up(medium) {
          font-size: 2rem;
          line-height: 2.5rem;
        }

        @include mixins.mq-up(x-large) {
          font-size: 2.5rem;
          line-height: 2.7rem;
        }
      }
    }

    &__back {
      background: variables.$c-dark-blue;
      color: variables.$c-white;
      font-size: 1.5rem;
      line-height: 2rem;
      z-index: variables.$z-2;

      > * {
        margin-block: 0.5rem;
        margin-inline: 0;
      }

      > *:first-child {
        margin-block-start: 0;
      }

      > *:last-child {
        margin-block-end: 0;
      }

      h2 {
        font-size: 1.8rem;
        font-weight: variables.$fw-bold;
        line-height: 2.3rem;
      }

      .project-card-list__item-container & {
        transform: rotateY(180deg);
      }
    }
  }
}
