@use "../base/mixins";
@use "../settings/variables";

.skill-card-list {
  @include mixins.mq-up(medium) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  &__item {
    background: variables.$c-white;
    border-radius: 0.5rem;
    margin-block-end: 2rem;
    margin-block-start: 0;
    margin-inline: 0;
    padding-block: 2rem;
    padding-inline: 2rem;
    position: relative;

    &:last-child {
      margin-block: 0;
      margin-inline: 0;
    }

    @include mixins.mq-up(large) {
      flex: 1;
    }

    &__icon {
      font-size: 3rem;
      inset-block-start: -1rem;
      inset-inline-end: 1rem;
      position: absolute;

      @include mixins.mq-up(medium) {
        font-size: 6rem;
        inset-block-start: -2rem;
      }

      @include mixins.mq-up(x-large) {
        inset-inline-end: 2rem;
      }

      .skill-card-list__item--core-skills & {
        color: variables.$c-blue;
      }

      .skill-card-list__item--specialized-skills & {
        color: variables.$c-yellow;
      }

      .skill-card-list__item--professional-skills & {
        color: variables.$c-green;
      }
    }

    h3 {
      margin-block-end: 1.5rem;
      margin-block-start: 0;
      margin-inline: 0;
    }

    ul {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 1.2rem;
      padding-block: 0;
      padding-inline: 0;

      @include mixins.mq-up(medium) {
        columns: 2;
        gap: 2rem;
      }

      li {
        margin-block-end: 0.6rem;
        margin-block-start: 0;
        margin-inline: 0;

        @include mixins.mq-up(medium) {
          padding-inline-end: 6rem;
          padding-block: 0;
          padding-inline-start: 0;
        }
      }
    }
  }
}
