---
import { Image } from "astro:assets";
import imgHeadshot from "../../assets/images/headshot.png";
import Section from "../elements/Section.astro";
import SectionIntro from "../elements/SectionIntro.astro";
import SectionTitle from "../elements/SectionTitle.astro";
---

<Section cssClass="section--about" title="about">
  <SectionIntro>
    <SectionTitle title="About me" />
    <p class="animate-fade">
      Hi there! I'm <span class="section__highlight">Tom DeLuca</span>.
    </p>
    <p class="animate-fade">
      I'm a frontend developer based in New York, passionate about transforming
      designs into seamless, responsive websites. With a deep expertise in HTML,
      CSS, and JavaScript, I bring ideas to life on the web with precision and
      flair. Collaborating with others to create visually stunning and
      user-friendly sites is what I do best.
    </p>
    <p class="animate-fade">
      Beyond the screen, you'll find me enjoying anime, gaming, or spending
      quality time with family and friends. And when Friday rolls around, I’m
      likely unwinding at a local bar with a good craft beer in hand.
    </p>
  </SectionIntro>
  <div class="section__image animate-fade">
    <Image src={imgHeadshot} alt="Tom DeLuca headshot" loading="eager" />
  </div>
</Section>
