---
import Section from "../elements/Section.astro";
import SectionIntro from "../elements/SectionIntro.astro";
import SectionTitle from "../elements/SectionTitle.astro";
---

<Section cssClass="section--contact" title="contact">
  <SectionIntro>
    <SectionTitle title="Contact me" />
    <p class="animate-fade">
      I'm currently looking for a full-time role, but am available for contract
      opportunities.
    </p>
  </SectionIntro>
  <form
    class="form"
    name="contact-form"
    method="POST"
    data-netlify="true"
    action="/contact-form-success"
  >
    <label class="form-field animate-fade">
      <input
        id="txtName"
        name="name"
        placeholder="Your name"
        class="form-input form-input--text"
        type="text"
        required
      />
      <span class="form-label">Your name</span>
    </label>
    <label class="form-field animate-fade">
      <input
        id="txtEmail"
        name="email"
        placeholder="Your email"
        class="form-input form-input--text"
        type="email"
        required
      />
      <span class="form-label">Your email</span>
    </label>
    <label class="form-field animate-fade">
      <textarea
        id="txtMessage"
        name="message"
        placeholder="Your message"
        class="form-input form-input--textarea"
        required></textarea>
      <span class="form-label">Your message</span>
    </label>
    <div class="form-field animate-fade">
      <button class="button form-input form-input--button" type="submit"
        >Let's chat</button
      >
    </div>
  </form>
</Section>
