---
import Section from "../elements/Section.astro";
import SectionIntro from "../elements/SectionIntro.astro";
import SectionTitle from "../elements/SectionTitle.astro";
import ButtonField from "../elements/forms/ButtonField.astro";
import TextAreaField from "../elements/forms/TextAreaField.astro";
import TextBotField from "../elements/forms/TextBotField.astro";
import TextField from "../elements/forms/TextField.astro";
---

<Section cssClass="section--contact" title="contact">
  <SectionIntro>
    <SectionTitle title="Contact me" />
    <p class="animate-fade">
      I'm currently looking for a full-time role, but am also available for any
      contract opportunities.
    </p>
  </SectionIntro>
  <form
    class="form"
    name="contact-form"
    method="POST"
    netlify-honeypot="name-bot"
    netlify
    action="/contact-form-success"
  >
    <TextBotField name="name-bot" label="Don't fill this out if you're human" />
    <TextField
      id="txtName"
      name="name"
      label="Your name"
      type="text"
      isRequired
    />
    <TextField
      id="txtEmail"
      name="email"
      label="Your email"
      type="email"
      isRequired
    />
    <TextAreaField
      id="txtMessage"
      name="message"
      label="Your message"
      isRequired
    />
    <ButtonField label="Let's chat" type="submit" />
  </form>
</Section>
