---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
    <div class="align-center">
        <h1>Whoops! You broke the internet :)</h1>
        <a href="/" class="button">Go back home</a>    
    </div>
</Layout>