---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="TomDeLuca/dev - 404" description="404. This page doesn't exist.">
    <Section cssClass="section--page-height section--404" title="404">
        <div class="align-center">
            <div class="section__intro">
                <h1>Whoops! You broke the internet :)</h1>
                <p>Whatever you were looking for isn't here.</p>
            </div>
            <p>
                <a href="/" class="button">Go back home</a>
            </p>
        </div>
    </Section>
</Layout>
