---
import Section from "../components/Section.astro";
import SectionIntro from "../components/SectionIntro.astro";
import LayoutFullHeight from "../layouts/LayoutFullHeight.astro";
---

<LayoutFullHeight
  title="Tom DeLuca | Contact Form Success"
  description="Thank you! Your submission has been recieved."
>
  <Section
    cssClass="section--vertical-center section--full-height"
    title="form-success"
  >
    <div class="align-center">
      <SectionIntro>
        <h1 class="animate-fade">
          Thank you! <i class="fa-regular fa-check-circle"></i>
        </h1>
        <p class="animate-fade">Your submission has been recieved.</p>
      </SectionIntro>
      <p class="animate-fade">
        <a href="/" class="button">Go back home</a>
      </p>
    </div>
  </Section>
</LayoutFullHeight>
