---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillCard from "../components/SkillCard.astro";
import SectionIntro from "../components/SectionIntro.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<Layout
  title="Tom DeLuca | Front-End Developer"
  description="I'm a front-end developer living in New York. I love doing design translation and working with others to make beautiful websites. I'm an expert when it comes to efficiantly delivering HTML, CSS and JavaScript for others to implement."
>
  <Section cssClass="section--about" title="about">
    <SectionIntro>
      <SectionTitle title="About me" />
      <p class="animate-fade">
        Hello. My name is <span class="section__highlight">Tom DeLuca</span>.
      </p>
      <p class="animate-fade">
        I'm a front-end developer living in New York. I love doing design
        translation and working with others to make beautiful websites. I'm an
        expert when it comes to efficiently and accurately delivering HTML, CSS
        and JavaScript for implementation.
      </p>
      <p class="animate-fade">
        When I'm not doing web stuff, I can usually be found watching anime or
        playing video games, hanging out with my family or friends, or at one of
        the local bars having a beer or two on a Friday night.
      </p>
    </SectionIntro>
    <img
      class="section__image animate-fade"
      src="images/headshot.webp"
      alt="Tom DeLuca headshot"
      height="600"
      width="600"
    />
  </Section>
  <Section cssClass="section--skills" title="skills">
    <SectionIntro>
      <SectionTitle title="My skills" />
      <p class="animate-fade">
        Here's what I do to help make the web look nice.
      </p>
    </SectionIntro>
    <div class="skill-card-list">
      <SkillCard name="Expert" cssClass="expert" icon="face-smile">
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>jQuery</li>
          <li>Design Translation</li>
          <li>Content Entry</li>
          <li>MJML</li>
          <li>Bootstrap</li>
          <li>Sitecore (SXA, Content Editor)</li>
          <li>Storybook</li>
          <li>Tailwind CSS</li>
        </ul>
      </SkillCard>
      <SkillCard name="Intermediate" cssClass="intermediate" icon="face-meh">
        <ul>
          <li>GSAP</li>
          <li>React</li>
          <li>TypeScript</li>
          <li>Angular</li>
          <li>Handlebars.js</li>
          <li>Mustache.js</li>
          <li>Nunjucks</li>
          <li>.NET</li>
        </ul>
      </SkillCard>
      <SkillCard name="Learning" cssClass="learning" icon="face-frown">
        <ul>
          <li>Vue.js</li>
          <li>Svelte</li>
        </ul>
      </SkillCard>
    </div>
  </Section>
  <Section cssClass="section--projects" title="projects">
    <SectionIntro>
      <SectionTitle title="My projects" />
      <p class="animate-fade">
        Here are some of the recent projects I've worked on that I am proud of.
      </p>
      <p class="animate-fade">
        <span class="hide-desktop">Click</span>
        <span class="hide-mobile">Hover over</span> a card to see more details.
      </p>
    </SectionIntro>
    <div class="project-card-list">
      <ProjectCard name="CIGA" image="ciga.webp">
        <h4>California Insurance Guarantee Association</h4>
        <p>
          Utilized Tailwind CSS to build components for a React/Next.js
          implementation.
        </p>
      </ProjectCard>
      <ProjectCard name="Cencora" image="cencora.webp">
        <h4>Cencora</h4>
        <p>
          Splash page implementation for a new brand announcement, which
          utilized Storybook and GSAP animations.
        </p>
      </ProjectCard>
      <ProjectCard name="Corbion" image="corbion.webp">
        <h4>Corbion</h4>
        <p>
          Style updates and bug fixing for various components of the already
          built Sitecore site before initial launch.
        </p>
      </ProjectCard>
      <ProjectCard name="RRA" image="rra.webp">
        <h4>Russel Reynolds Associates</h4>
        <p>
          Design translation of components using Storybook for use in a new
          Sitecore instance.
        </p>
      </ProjectCard>
      <ProjectCard name="AB/OB" image="ob.webp">
        <h4>Aruba Bank/Orco Bank</h4>
        <p>
          Design translation of Sitecore SXA components for a replatform effort.
        </p>
      </ProjectCard>
      <ProjectCard name="AB" image="ab.webp">
        <h4>AmerisourceBergen</h4>
        <p>
          Style updates to existing components and design translation of new
          components to align with a rebrand effort for existing business units.
        </p>
      </ProjectCard>
      <ProjectCard name="ASH" image="ash.webp">
        <h4>American Society of Hematology</h4>
        <p>
          Initial design translation of components. Extensive content entry and
          bug fixing to meet a site launch deadline.
        </p>
      </ProjectCard>
    </div>
  </Section>
</Layout>
