---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import ProjectCard from "../components/ProjectCard.astro";
import SkillCard from "../components/SkillCard.astro";
---

<Layout
    title="TomDeLuca/dev - Tom DeLuca front-end developer"
    description="I'm a front-end developer living in New York."
>
    <Section cssClass="section--about" title="about">
        <div class="section__intro">
            <div class="section__title-wrapper">
                <h2>About me</h2>
            </div>
            <p>
                My name is <span class="section__highlight">Tom DeLuca</span>.
            </p>
            <p>I'm a front-end developer living in New York.</p>
            <p>Some of my favorite things are:</p>
            <ul>
                <li>chocolate</li>
                <li>pizza</li>
                <li>anime</li>
                <li>beer</li>
            </ul>
        </div>
        <img
            class="section__image"
            src="headshot.jpg"
            alt="Tom DeLuca headshot"
        />
    </Section>
    <Section cssClass="section--skills" title="skills">
        <div class="section__intro">
            <div class="section__title-wrapper">
                <h2>My Skills</h2>
            </div>
            <p>Here's what I do to help make the web look nice.</p>
        </div>
        <div class="skill-card-list">
            <SkillCard name="Expert" cssClass="expert" icon="face-smile">
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Design Translation</li>
                    <li>Content Entry</li>
                    <li>MJML</li>
                    <li>Bootstrap</li>
                    <li>Sitecore (SXA, Content Editor)</li>
                    <li>Storybook</li>
                </ul>
            </SkillCard>
            <SkillCard
                name="Intermediate"
                cssClass="intermediate"
                icon="face-meh"
            >
                <ul>
                    <li>Javascript</li>
                    <li>jQuery</li>
                    <li>React</li>
                    <li>Angular</li>
                    <li>.NET</li>
                </ul>
            </SkillCard>
            <SkillCard name="Beginner" cssClass="beginner" icon="face-frown">
                <ul>
                    <li>Vue</li>
                    <li>Svelte</li>
                </ul>
            </SkillCard>
        </div>
    </Section>
    <Section cssClass="section--projects" title="projects">
        <div class="section__intro">
            <div class="section__title-wrapper">
                <h2>My Projects</h2>
            </div>
            <p>
                Here are some of the recent projects I've worked on that I am
                proud of.
            </p>
        </div>
        <div class="project-card-list">
            <ProjectCard name="Cencora" image="cencora.jpg">
                <p>test</p>
            </ProjectCard>
            <ProjectCard name="Corbion" image="corbion.jpg">
                <p>test</p>
            </ProjectCard>
            <ProjectCard name="Russel Reynolds Associates" image="rra.jpg">
                <p>test</p>
            </ProjectCard>
            <ProjectCard name="Orco Bank" image="orco.jpg">
                <p>test</p>
            </ProjectCard>
            <ProjectCard name="AmerisourceBergen" image="ab.jpg">
                <p>test</p>
            </ProjectCard>
            <ProjectCard name="American Society of Hematology" image="ash.jpg">
                <p>test</p>
            </ProjectCard>
        </div>
    </Section>
</Layout>
