---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="TD/dev">
    <Section cssClass="section section--about" title="about">
        <h1>Abolut me</h1>
    </Section>
    <Section cssClass="section section--skills" title="skills">
        <h1>My Skills</h1>
    </Section>
    <Section cssClass="section section--projects" title="projects">
        <h1>My Projects</h1>
    </Section>
</Layout>
