<header class="header">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__copyright">
                &copy; <span class="footer__copyright-year">asdf</span> 
            </div>
            <div class="footer__tagline">
                Made with <i class="fa-solid fa-heart"></i> by Tom DeLuca
            </div>
        </div>
    </div>
</header>