<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__links">
                <a
                    href="https://www.linkedin.com/in/tomdeluca/"
                    target="_blank"
                >
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a href="https://codepen.io/tomd0627" target="_blank">
                    <i class="fa-brands fa-codepen"></i>
                </a>
                <a href="https://github.com/tomd0627" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
            <div class="footer__tagline">
                <span class="footer__tagline__sentence">
                    &copy;<span class="footer__copyright-year"></span>.
                </span>
                <span class="footer__tagline__sentence">
                    Built with <a href="https://astro.build/" target="_blank"
                        >Astro</a
                    > and <a href="https://fontawesome.com/" target="_blank"
                        >Font Awesome</a
                    >
                </span>
                <span class="footer__tagline__sentence">
                    Made with <i class="fa-solid fa-heart"></i> by Tom DeLuca
                </span>
            </div>
        </div>
    </div>
</footer>
