---
---

<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="/"> TomDeLuca/dev</a>
            <button
                class="header__menu-toggle"
                aria-label="Menu Toggle"
                role="navigation"
            >
                <span class="bar bar--top"></span>
                <span class="bar bar--mid"></span>
                <span class="bar bar--bot"></span>
            </button>
            <nav class="header__nav" role="navigation">
                <ul class="list--unstyled">
                    <li>
                        <a href="#about"> About me</a>
                    </li>
                    <li>
                        <a href="#skills"> My skills</a>
                    </li>
                    <li>
                        <a href="#projects"> My projects</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
