---
---

<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="header__logo" href="/"> TD/dev</a>
            <button class="header__menu-toggle">
                <span class="bar bar--top"></span>
                <span class="bar bar--mid"></span>
                <span class="bar bar--bot"></span>
            </button>
        </div>
        <nav class="header__nav">
            <ul class="list--unstyled">
                <li>
                    <a href="#about"> About me</a>
                </li>
                <li>
                    <a href="#skills"> My skills</a>
                </li>
                <li>
                    <a href="#projects"> My projects</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
