---
export interface Props {
  name: string;
  image: string;
}

const { name, image } = Astro.props;
---

<div class="project-card-list__item-container animate-slide" tabindex="0">
  <div class="project-card-list__item">
    <div
      class="project-card-list__item__front"
      style=`background-image: url("images/projects/${image}");`
    >
      <h3>{name}</h3>
    </div>
    <div class="project-card-list__item__back">
      <slot />
    </div>
  </div>
</div>
