// Dimensions
$site-width: 1440px;

// Breakpoints
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-extra-large: 1300px;

// Colors
$c-white: #fff;
$c-off-white: #efefef;
$c-black: #000;
$c-black-50: rgba($c-black, 0.5);
$c-black-75: rgba($c-black, 0.75);
$c-blue: #0048b2;
$c-blue-75: rgba($c-blue, 0.75);
$c-dark-blue: #00507d;
$c-light-blue: #bfeeff;
$c-red: #ff0000;
$c-orange: #ff7700;
$c-yellow: #ffd700;
$c-green: #32cd32;

// Fonts
$ff-body: "Lato", sans-serif;
$ff-heading: "Raleway", sans-serif;

// Weights
$fw-bold: 700;

// Z-indexes
$z-neg-1: -1;
$z-0: 0;
$z-1: 1;
$z-2: 2;
$z-10: 10;

// Speeds
$s-30: 0.3s;
$s-50: 0.5s;
