@use "../settings/variables";
@use "mixins";

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  block-size: 100%;
}

body {
  background: variables.$c-white;
  color: variables.$c-black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: variables.$ff-body;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-block: 0;
  margin-inline: 0;
  overflow-inline: hidden;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
}

h1,
h2,
h3 {
  font-family: variables.$ff-heading;
  font-weight: variables.$fw-bold;
}

h1 {
  font-size: 3.6rem;
  line-height: 3.8rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.2rem;
}

a {
  color: variables.$c-blue;
  text-decoration: none;
}

img {
  block-size: auto;
  display: block;
  max-inline-size: 100%;
}

.container {
  margin-block: 0;
  margin-inline: auto;
  max-inline-size: variables.$site-width;
  padding-block: 0;
  padding-inline: 1.5rem;
}

.align-center {
  text-align: center;
}

.list {
  &--unstyled {
    list-style: none;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;

    li {
      margin-block: 0;
      margin-inline: 0;
      padding-block: 0;
      padding-inline: 0;
    }
  }
}

.hide-mobile {
  display: none;

  @include mixins.mq-up(large) {
    display: inline;
  }
}

.hide-desktop {
  @include mixins.mq-up(large) {
    display: none;
  }
}

.visually-hidden {
  block-size: 0;
  inline-size: 0;
  inset-inline-start: -9999rem;
  overflow: hidden;
  position: absolute;
}
