@import url("https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $c-white;
  color: $c-black;
  display: flex;
  flex-flow: column nowrap;
  font-family: $ff-body;
  font-size: 1rem;
  line-height: 1.2rem;
  margin: 0;
}

main {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

h1,
h2,
h3 {
  font-family: $ff-heading;
  font-weight: $fw-bold;
}

h1 {
  font-size: 3.6rem;
  line-height: 3.4rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 2.3rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.5rem;
}

a {
  color: $c-blue;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.align-center {
  text-align: center;
}

.list {
  &--unstyled {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }
}

.hide-mobile {
  display: none;

  @include mq-up(large) {
    display: inline;
  }
}

.hide-desktop {
  @include mq-up(large) {
    display: none;
  }
}
