*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: $site-width;
    margin: 0 auto;
    padding: 0 30px;
}

.align-center {
    text-align: center;
}