@use '../settings/variables';
@use 'mixins';

.button-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  &--center {
    justify-content: center;
  }

  &__item {
    @include mixins.mq-down(medium) {
      inline-size: 100%;
    }
  }
}
