@use "../settings/variables";
@use "mixins";

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem 0;

  @include mixins.mq-up(medium) {
    margin: 0 auto;
    width: 75%;
  }

  &-field {
    display: flex;
    flex-flow: column nowrap;
    position: relative;

    &-hidden {
      height: 0;
      left: -9999rem;
      opacity: 0;
      position: absolute;
      width: 0;
      z-index: variables.$z-neg-1;
    }
  }

  &-input {
    &--text,
    &--textarea {
      background: none;
      border: none;
      border-bottom: 2px solid variables.$c-black;
      border-radius: 0;
      color: variables.$c-black;
      font-size: 1.5rem;
      outline: none;
      padding: 1rem 0;
      width: 100%;

      &::placeholder {
        color: transparent;
      }

      &:focus-visible,
      &:not(:placeholder-shown) {
        & ~ .form-line {
          width: 100%;
        }

        & ~ .form-label {
          font-size: 1.2rem;
          top: -1rem;
        }
      }
    }

    &--textarea {
      font-family: variables.$ff-body;
      height: auto;
      min-height: 10rem;
      resize: none;
    }

    &--button {
      align-self: flex-start;

      @include mixins.button($bg: variables.$c-white, $fg: variables.$c-blue);
    }
  }

  &-line {
    background: variables.$c-black;
    bottom: 0;
    height: 4px;
    position: absolute;
    transition: all variables.$s-30;
    width: 0;
  }

  &-label {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    transition: all variables.$s-30;
  }

  &-required {
    color: variables.$c-red;
  }
}
