.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem 0;

  @include mq-up(medium) {
    margin: 0 auto;
    width: 75%;
  }

  &-field {
    display: flex;
    flex-flow: column nowrap;
    position: relative;

    &-hidden {
      height: 0;
      left: -9999rem;
      opacity: 0;
      position: absolute;
      width: 0;
      z-index: -1;
    }
  }

  &-input {
    &--text,
    &--textarea {
      background: none;
      border: none;
      border-bottom: 2px solid $c-black;
      color: $c-black;
      font-size: 1.5rem;
      outline: none;
      padding: 1rem 0;
      transition: all 0.3s;
      width: 100%;

      &::placeholder {
        color: transparent;
      }

      &:focus,
      &:not(:placeholder-shown) {
        border-width: 4px;

        & + .form-label {
          font-size: 1.2rem;
          top: -1rem;
        }
      }
    }

    &--textarea {
      font-family: $ff-body;
      height: auto;
      min-height: 10rem;
      resize: none;
    }

    &--button {
      align-self: flex-start;

      @include button($bg: $c-white, $fg: $c-blue);
    }
  }

  &-label {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    transition: all 0.3s;
  }

  &-required {
    color: $c-red;
  }
}
