// Media queries
// reference: https://medium.com/geekculture/sass-media-queries-mixins-1c5e5f605704

@mixin mq-up($breakpoint) {
  @if ($breakpoint == small) {
    @media (min-width: $bp-small) {
      @content;
    }
  } @else if ($breakpoint == medium) {
    @media (min-width: $bp-medium) {
      @content;
    }
  } @else if ($breakpoint == large) {
    @media (min-width: $bp-large) {
      @content;
    }
  } @else if ($breakpoint == x-large) {
    @media (min-width: $bp-extra-large) {
      @content;
    }
  } @else {
    @error "Breakpoint does not exist: #{$breakpoint}";
  }
}

// Text color split
@mixin text-color-split(
  $width: 125px,
  $color1: $c-black,
  $color2: $c-white,
  $dir: 125deg
) {
  background: linear-gradient($dir, $color1 $width, $color2 $width);
  display: inline-block;
  position: relative;

  &::before {
    background: $color1;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    left: -100vw;
    right: 100%;
    z-index: $z-0;
  }

  > * {
    background: linear-gradient($dir, $color2 $width, $color1 $width);
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0;
    padding: 1rem 1rem 1rem 0;
    position: relative;
    -webkit-text-fill-color: transparent;
    z-index: $z-1;
  }
}

// Button
@mixin button($bg: $c-white, $fg: $c-black) {
  border: 2px solid $fg;
  border-radius: 25px;
  background: $bg;
  color: $fg;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: $fw-bold;
  min-width: 12rem;
  padding: 0.8rem;
  text-align: center;
  transition: all $s-30;

  &:focus,
  &:hover {
    background: $fg;
    border-color: $bg;
    color: $bg;
  }
}
