@use "../settings/variables";

// Media queries
// reference: https://medium.com/geekculture/sass-media-queries-mixins-1c5e5f605704

@mixin mq-up($breakpoint) {
  @if ($breakpoint == small) {
    @media (min-width: variables.$bp-small) {
      @content;
    }
  } @else if ($breakpoint == medium) {
    @media (min-width: variables.$bp-medium) {
      @content;
    }
  } @else if ($breakpoint == large) {
    @media (min-width: variables.$bp-large) {
      @content;
    }
  } @else if ($breakpoint == x-large) {
    @media (min-width: variables.$bp-extra-large) {
      @content;
    }
  } @else {
    @error "Breakpoint does not exist: #{$breakpoint}";
  }
}

// Text color split
@mixin text-color-split(
  $width: 125px,
  $color1: variables.$c-black,
  $color2: variables.$c-white,
  $dir: 125deg
) {
  background: linear-gradient($dir, $color1 $width, $color2 $width);
  display: inline-block;
  position: relative;

  &::before {
    background: $color1;
    block-size: 100%;
    content: "";
    display: block;
    inset-inline-end: 100%;
    inset-inline-start: -100vw;
    position: absolute;
    z-index: variables.$z-0;
  }

  > * {
    background: linear-gradient($dir, $color2 $width, $color1 $width);
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0;
    padding: 1rem 1rem 1rem 0;
    position: relative;
    -webkit-text-fill-color: transparent;
    z-index: variables.$z-1;
  }
}

// Button
@mixin button($bg: variables.$c-white, $fg: variables.$c-black) {
  align-items: center;
  background: $bg;
  border: 2px solid $fg;
  border-radius: 50vw;
  color: $fg;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: variables.$fw-bold;
  gap: 1rem;
  justify-content: center;
  min-inline-size: 12rem;
  padding-block: 0.8rem;
  padding-inline: 0.8rem;
  transition:
    background variables.$s-base,
    border-color variables.$s-base,
    color variables.$s-base;

  &:focus-visible,
  &:hover {
    background: $fg;
    border-color: $bg;
    color: $bg;
  }
}
