@use "../settings/variables";
@use "mixins";

.section {
  padding: 8rem 0;

  &__intro {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin: 0 0 5rem;
  }

  &__title-wrapper {
    .section--about & {
      @include mixins.text-color-split(
        $color1: variables.$c-white,
        $color2: variables.$c-dark-blue
      );
    }

    .section--skills & {
      @include mixins.text-color-split($color2: variables.$c-orange);
    }

    .section--projects & {
      @include mixins.text-color-split($color2: variables.$c-light-blue);
    }

    .section--contact & {
      @include mixins.text-color-split($color2: variables.$c-yellow);
    }

    .section--links & {
      @include mixins.text-color-split($color2: variables.$c-green);
    }
  }

  &__highlight {
    background: variables.$c-orange;
    color: variables.$c-black;
    padding: 0 0.3rem;
  }

  &__image {
    img {
      animation: morph infinite 15s 1s;
      border-radius: 50%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    @keyframes morph {
      0%,
      100% {
        border-radius: 50%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      50% {
        border-radius: 0;
        clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
      }
    }
  }

  &--about {
    background: variables.$c-dark-blue;
    color: variables.$c-white;

    .section__image {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

    @include mixins.mq-up(medium) {
      .container {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 3rem;
      }

      .section__image {
        flex: 0 0 45%;
        justify-content: flex-end;
      }
    }
  }

  &--skills {
    background: variables.$c-orange;
  }

  &--projects {
    background: variables.$c-light-blue;
  }

  &--contact {
    background: variables.$c-yellow;
  }

  &--links {
    background: variables.$c-green;
  }

  &--full-height {
    background: variables.$c-dark-blue;
    color: variables.$c-white;

    .button {
      @include mixins.button($bg: variables.$c-white, $fg: variables.$c-blue);
    }
  }

  &--vertical-center {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
  }
}
