@use '../settings/variables';
@use 'mixins';

.section {
  padding-block: variables.$space-3xl;
  padding-inline: 0;

  &__intro {
    font-size: variables.$fs-2xl;
    line-height: variables.$lh-relaxed;
    margin-block: 0 variables.$space-3xl;
    margin-inline: 0;

    @include mixins.mq-up(large) {
      margin-block-end: 0;
    }
  }

  &__title-wrapper {
    .section--about & {
      @include mixins.text-color-split(
        $color1: variables.$c-white,
        $color2: variables.$c-dark-blue
      );
    }

    .section--skills & {
      @include mixins.text-color-split($color2: variables.$c-orange);
    }

    .section--projects & {
      @include mixins.text-color-split($color2: variables.$c-light-blue);
    }

    .section--contact & {
      @include mixins.text-color-split($color2: variables.$c-yellow);
    }

    .section--links & {
      @include mixins.text-color-split($color2: variables.$c-green);
    }
  }

  &__highlight {
    background: variables.$c-orange;
    color: variables.$c-black;
    padding-block: 0;
    padding-inline: 0.3rem;
  }

  &__image {
    img {
      animation: morph infinite 15s 1s;
      border-radius: 50%;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    @keyframes morph {
      0%,
      100% {
        border-radius: 50%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      50% {
        border-radius: 0;
        clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
      }
    }
  }

  &--hero {
    background: variables.$c-light-blue;

    .hero {
      &__content {
        padding-block: 3rem 0;
        padding-inline: 0;
        text-align: center;

        @include mixins.mq-up(large) {
          margin-block: 0;
          margin-inline: auto;
          max-inline-size: 75%;
        }
      }

      &__title {
        color: variables.$c-black;
        font-size: variables.$fs-5xl;
        font-weight: variables.$fw-bold;
        line-height: variables.$lh-tight;
        margin-block: variables.$space-xl variables.$space-lg;
        margin-inline: 0;

        @include mixins.mq-down(medium) {
          font-size: variables.$fs-4xl;
        }
      }

      &__highlight {
        color: variables.$c-orange;
        display: block;
        margin-block: 0.5rem 0;
        margin-inline: 0;
      }

      &__subtitle {
        color: variables.$c-dark-blue;
        font-size: variables.$fs-2xl;
        font-weight: variables.$fw-medium;
        line-height: variables.$lh-normal;
        margin-block: variables.$space-lg variables.$space-base;
        margin-inline: 0;

        @include mixins.mq-down(medium) {
          font-size: variables.$fs-xl;
        }
      }

      &__description {
        color: variables.$c-muted;
        font-size: variables.$fs-lg;
        line-height: variables.$lh-relaxed;
        margin-block: variables.$space-lg variables.$space-2xl;
        margin-inline: 0;

        strong {
          color: variables.$c-dark-blue;
          font-weight: variables.$fw-bold;
        }
      }

      &__ctas {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: center;
        margin-block: 2.5rem 0;
        margin-inline: 0;

        @include mixins.mq-down(medium) {
          flex-direction: column;
          margin-block-start: 2rem;

          a {
            inline-size: 100%;
          }
        }
      }
    }
  }

  &--about {
    background: variables.$c-dark-blue;
    color: variables.$c-white;

    .section__image {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

    @include mixins.mq-up(large) {
      .container {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        gap: 3rem;
        justify-content: space-between;
      }

      .section__image {
        flex: 0 0 45%;
        justify-content: flex-end;
      }
    }
  }

  &--value {
    background: variables.$c-green;
    color: variables.$c-white;
  }

  &--experience {
    background: variables.$c-yellow;
    color: variables.$c-black;

    .section__title-wrapper {
      @include mixins.text-color-split($color2: variables.$c-yellow);
    }
  }

  &--skills {
    background: variables.$c-orange;
  }

  &--projects {
    background: variables.$c-light-blue;
  }

  &--contact {
    background: variables.$c-yellow;
  }

  &--links {
    background: variables.$c-green;
  }

  &--full-height {
    background: variables.$c-dark-blue;
    color: variables.$c-white;

    .button {
      @include mixins.button($bg: variables.$c-white, $fg: variables.$c-blue);
    }
  }

  &--vertical-center {
    block-size: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}

.line-divider {
  border: none;
  border-block-start: 1px solid variables.$c-muted;
  margin-block: variables.$space-lg variables.$space-lg;
  margin-inline: 0;

  &--white {
    border-block-start: 1px solid variables.$c-white;
  }
}
